.btn-group * {
	margin: 0.8vh 0.8vw;
	cursor: auto;
}

.btn-add {
	color: white;
	font-weight: bold;
	background-color: green;
	padding: 1vh 1vw;
	border-radius: 0.5em;
	display: inline-block;
}
.btn-add:hover {
	cursor: pointer;
	transition-delay: 0s;
	width: auto;
}


div[class*=btn] {
	cursor: pointer;
}
