#creationField {
	margin: auto;
	margin-top: 18vh;
	border: 1px solid #f0f0f0;
	max-width: 80%;
	padding: 0 2vw;
	background-color: #f0f0f0;
}
#creationField .situations > *, #creationField > * {
	margin: 2vh 0;
}

.situation {
	background-color: #e3e0cc;
	border: 1px solid #e3e0cc;
}
.situation-header {
	background-color: slategrey;
	padding: 0.5em;
}
.situation-header:hover {
	background-color: lightgrey;
}
.situation.active .situation-content {
	display: block;
}
.situation-content {
	padding: 0 1vw;
	display: none;
}
.situation-content > * {
	margin: 1vh 0;
}

.choice {
	background-color: #c5d5c5;
	border: 1px solid #c5d5c5;
	margin: 2vh 0;
}
.choice-header {
	background-color: slategrey;
	padding: 0.5em;
}
.choice-header:hover {
	background-color: lightgrey;
}
.choice.active .choice-content {
	display: block;
}
.choice-content {
	padding: 1vh 1vw;
	display: none;
}
.choice-content > * {
	margin: 1vh 0;
}

.text {
	display: -webkit-flex;
    display: flex;
}
.text-header {
	height: 3em;
	min-width: 3em;
	background-color: pink;
}
.text-field {
	flex: 1;
	background-color: white;
	color: black;
	border: 1px solid #888;
	padding: 0.3em;
	min-height: 1.2em;
}
.text-field:hover {
	box-shadow: 0px 0px 3px blue;
}
.text-field:focus {
	box-shadow: 0px 0px 8px cornflowerblue;
}

div[class*=header] {
	cursor: pointer;
}
